
body{
    margin: 0;
    padding: 0;
    width: 100%;
}

#hellobar-bar {
    font-family: "Open Sans", sans-serif;
    width: 100%;
    margin: 0;
    height: 15px;
    display: table;
    font-size: 17px;
    font-weight: 400;
    padding: 0 0;
    -webkit-font-smoothing: antialiased;
    color: #5c5e60;
    position: fixed;
    background-color:rgba(0, 0, 0, 0.65);
    box-shadow: 0 1px 3px 2px whitesmoke;
}

#hellobar-bar.regular {
    height: 15px;
    font-size: 12px;
    padding: 0 0;
}

.hb-content-wrapper {
    text-align: center;
    text-align: center;
    position: relative;
    display: table-cell;
    vertical-align: middle;
    color : white;
}

.hb-content-wrapper p {
    margin-top: 0;
    margin-bottom: 0;
}

.hb-text-wrapper {
    margin-right: .67em;
    display: inline-block;
    line-height: 1.3;
}

.hb-text-wrapper .hb-headline-text {
    font-size: 1em;
    display: inline-block;
    vertical-align: middle;
}

#hellobar-bar .hb-cta {
    display: inline-block;
    vertical-align: middle;
    margin: 5px 0;
    color: #ffffff;
    background-color: green;
    border-color: green;
}

.hb-cta-button {
    opacity: 1;
    color: #fff;
    font-size: 13px;
    display: block;
    cursor: pointer;
    line-height: 1.5;
    /* max-width: 22.5em; */
    text-align: center;
    position: relative;
    border-radius: 3px;
    white-space: nowrap;
    margin: 1.75em auto 0;
    text-decoration: none;
    padding: 0;
    overflow: hidden;
    animation : animate 2s linear infinite;
}

@keyframes animate{
    0%{
        box-shadow: 0 0 0 0 rgba(11, 190, 11, 0.9), 0 0 0 0 rgba(11, 190, 11, 0.9);
    }
    40%{
        box-shadow: 0 0 0 10px rgba(11, 190, 11, 0), 0 0 0 0 rgba(11, 190, 11, 0.9);
    }
    80%{
        box-shadow: 0 0 0 10px rgba(11, 190, 11, 0), 0 0 0 8px rgba(11, 190, 11, 0);
    }
    100%{
        box-shadow: 0 0 0 0 rgba(11, 190, 11, 0), 0 0 0 8px rgba(11, 190, 11, 0);
    }
}

.hb-cta-button .hb-text-holder {
    border-radius: inherit;
    font-size: 12px;
    padding: 5px 15px;
    color: antiquewhite;
    font-family: verdana;
}

.hb-close-wrapper {
    display: table-cell;
    color: antiquewhite;
    width: 1.6em;
}
.hb-close-wrapper .icon-close {
    font-size: 20px;
    top: 20px;
    right: 25px;
    width: 20px;
    height: 20px;
    color: white;
    cursor: pointer;
    position: absolute;
    text-align: center;
    line-height: 15px;
    z-index: 1000;
    text-decoration: none;
}

td {
    position: relative;
    width: fit-content;
    font-size: 14px;
    transition: font-size 0.3s;
}

td:hover {
    top: 0;
    left: 0;
    font-size: 16px;
    text-decoration: solid;
}