/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.microsoft-img {
  position: relative;
  width: 50%;
}

.responsive-image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-image: url('../images/sponsors/microsoft on hover.png')!important;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.microsoft-img:hover .overlay {
  opacity: 1;
}

.microsoft-img:hover img {
  content: none;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

/* .microsoft-img img{
  background-image: url('../images/sponsors/microsoft on hover.png');
  background-image: url('...images/sponsors/microsoft.png');
}
.microsoft-img img:hover {
  content: url('../images/sponsors/microsoft on hover.png') !important;
} */

.nasa-img{
  background-image: url('../images/sponsors/nasa on hover.png');
  background-image: url('...images/sponsors/nasa.png');
}
.nasa-img:hover {
  content: url('../images/sponsors/nasa on hover.png');
}

.name-img{
  background-image: url('../images/sponsors/name on hover.png');
  background-image: url('...images/sponsors/name.png');
}
.name-img:hover {
  content: url('../images/sponsors/name on hover.png');
}

.google-img{
  background-image: url('...images/sponsors/google on hover.png');
  background-image: url('...images/sponsors/google.png');
}
.google-img:hover {
  content: url('../images/sponsors/google on hover.png');
}

.kingston-img{
  background-image: url('...images/sponsors/kingston on hover.png');
  background-image: url('...images/sponsors/kingston.png');
}
.kingston-img:hover {
  content: url('../images/sponsors/kingston on hover.png');
}

.github-img{
  background-image: url('../images/sponsors/github on hover.png');
  background-image: url('...images/sponsors/github.png');
}
.github-img:hover {
  content: url('../images/sponsors/github on hover.png');
}

.mongo-img{
  background-image: url('...images/sponsors/mongo db.png');
  background-image: url('../images/sponsors/mongodb on hover.png');
}
.mongo-img:hover {
  content: url('../images/sponsors/mongodb on hover.png');
}

.docusign-img{
  background-image: url('../images/sponsors/docusign on hover.png');
  background-image: url('...images/sponsors/docusign.png');
}
.docusign-img:hover {
  content: url('../images/sponsors/docusign on hover.png');
}

.acumatica-img{
  background-image: url('../images/sponsors/acumatica on hover.png');
  background-image: url('...images/sponsors/acumatica.png');
}
.acumatica-img:hover {
  content: url('../images/sponsors/acumatica on hover.png');
}

.hackerearth-img{
  background-image: url('../images/sponsors/hackerearth on hover.png');
  background-image: url('...images/sponsors/hackerearth.png');
}
.hackerearth-img:hover {
  content: url('../images/sponsors/hackerearth on hover.png');
}

.mlh-img{
  background-image: url('../images/sponsors/mlh on hover.png');
  background-image: url('...images/sponsors/mlh.png');
}
.mlh-img:hover {
  content: url('../images/sponsors/mlh on hover.png');
}

.remind-img{
  background-image: url('../images/sponsors/remind on hover.png');
  background-image: url('...images/sponsors/remind.png');
}
.remind-img:hover {
  content: url('../images/sponsors/remind on hover.png');
}

.shapeways-img{
  background-image: url('../images/sponsors/shapeways on hover.png');
  background-image: url('...images/sponsors/shapeways.png');
}
.shapeways-img:hover {
  content: url('../images/sponsors/shapeways on hover.png');
}

.samsung-img{
  background-image: url('../images/sponsors/samsung accelerator on hover.png');
  background-image: url('...images/sponsors/samsung accelerator.png');
}
.samsung-img:hover {
  content: url('../images/sponsors/samsung accelerator on hover.png');
}

.thoughtworks-img{
  background-image: url('../images/sponsors/thoughtworks on hover.png');
  background-image: url('...images/sponsors/thoughtworks.png');
}
.thoughtworks-img:hover {
  content: url('../images/sponsors/thoughtworks on hover.png');
}

.mozilla-img{
  background-image: url('../images/sponsors/mozilla hive on hover.png');
  background-image: url('...images/sponsors/mozilla hive.png');
}
.mozilla-img:hover {
  content: url('../images/sponsors/mozilla hive on hover.png');
}

.rough-img{
  background-image: url('../images/sponsors/rough draft vc on hover.png');
  background-image: url('...images/sponsors/rough draft vc.png');
}
.rough-img:hover {
  content: url('../images/sponsors/rough draft vc on hover.png');
}

.make-img{
  background-image: url('../images/sponsors/make school on hover.png');
  background-image: url('...images/sponsors/make school.png');
}
.make-img:hover {
  content: url('../images/sponsors/make school on hover.png');
}
